body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    padding-left: 20px;
    width: auto;
}
div.controls span {
    display: inline-block;
    font-weight: bold;
    padding-top: 5px;
}
div.alert{
    max-width:300px;
}
.redactor_box, .redactor_box textarea {
  background-color: #FFFFFF;
  height: 220px;
  width:80%;
}